<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>moja-note</title>
    <link rel="stylesheet" type="text/css" href="../css/editor.css">
    <script>CodeMirror = require('codemirror');</script>
</head>
<body>
    <div id="editor-area">
        <input id="title" placeholder="Enter title">
        <textarea id="editor"></textarea>
    </div>
    <div id="preview">
        <note-title id="preview-title"></note-title>
        <div id="preview-text"></div>
    </div>
    <button id="exit-edit"><li class="fa fa-reply"></li></button>
</body>
<footer>
    <!-- codeMirror addons -->
    <script src="../../node_modules/codemirror/keymap/sublime.js"></script>
    <script src="../../node_modules/codemirror/addon/edit/continuelist.js"></script>
    <script src="../../node_modules/codemirror/mode/markdown/markdown.js"></script>

    <script src="../script/editor.js"></script>
</footer>
</html>