@import 'style.css';
@import '../../node_modules/codemirror/lib/codemirror.css';

html, body {
    height: 100%;
}

#editor-area {
    height: 100%;
    width: 50%;
    float: left;
}

#preview {
    height: 100%;
    width: 50%;
    float: left;
    padding: 10px;
    overflow: auto;
}

#preview img {
    max-width: 100%;
}

.CodeMirror {
    height: calc(100% - 32px);
    margin: 0 10px;
}