@import 'style.css';

html, body {
    height: 100%;
    width: 100%;
}

img {
    max-width: 100%;
}

#info {
    height: 48px;
    border-bottom: solid 1px #eee;
    margin: auto;
    padding: 5px;
}


#notes-bar {
    height: calc(100% - 48px);
    width: 300px;
    background-color: #fbfbfb;
    float: left;
    border-right: solid 1px #eee;
}

.note {
    font-size: 11pt;
    padding: 10px;
    border-bottom: solid 1px #eee;
    cursor : pointer;
}

.note-tag {
    font-size: 10pt;
    color: #666;
    text-align: right;
}

#note-view {
    height: calc(100% - 48px);
    width: calc(100% - 300px);
    float: left;
}

#note-view-buttons {
    text-align: right;
    font-size: 21pt;
    padding: 6px;
    height: 56px;
    border-top: solid 1px #eee;
}

#note-view-buttons a:link {
    color:#888888; text-decoration:none
}

#note-view-buttons a:visited {
    color:#888888; text-decoration:none
}

#note-view-buttons a:hover {
    color:#888888; text-decoration:none
}

#note-view-buttons a:active {
    color:#888888; text-decoration:none
}

#note-view-body {
    height: calc(100% - 56px);
    padding: 20px;
    overflow: auto;
}
