body {
    font-size: 14pt;
    padding: 20px;
}

note-title {
    font-weight: bold;
    font-size: 36px;
}

h1 {
    border-bottom: solid 2px #ccc;
}

h2 {
    border-bottom: dashed 1px #ccc;
}

table {
    border: solid 1px #ccc;
    width: 100%;
}

th {
    font-weight:bold;
    border: solid 1px #ccc;
    padding: 5px;
}

td {
    border: solid 1px #ccc;
    padding: 5px;
}

td img {
    max-width: 100%;
}

@media print {
    body {
        page-break-inside: avoid;
    }

    .page{
        width: 297mm;
        height: 210mm;
        overflow: hidden;

        page-break-after: always;
    }
}